
/* DEBUT DU FOOTER  */
.footer {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 12vh;
    padding-bottom: 5vh;
}
.footer .footerOne {
    color: white;
}
.footer .footerTwo {
    color: grey;
    padding-top: 17px;
}
.all {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
.one {
    width: 50px;
    background-color: #efb74f;
    margin: 5px;
    padding: 7px;
}
/* FIN DU FOOTER /*
/* PARTIE GRANDE GRILLE  */

#partGrille {
    background-color: #333333;
}
#firstTitle {
    color: white;
    text-align: center;
    padding: 1vh;
}
.big {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.moyen {
    display: flex;
    flex-direction: column;
}
.unTrois {
    display: flex;
}
.partHaut {
    display: flex;
}
 
.partBas {
    display: flex;
}
.deuxUn {
    display: flex;
    flex-direction: column;
}
.un{
    height: 200px;
    width: 200px;
    background-color: red;
    margin: 20px;
}
.deuxSeul {
    height: 440px;
    width: 200px;
    background-color: yellow;
    margin: 20px;
}
.deuxBas {
    height: 200px;
    width: 440px;
    background-color: burlywood;
    margin: 20px;
}
.petit{
    height: 200px;
    width: 200px;
    background-color: blue;
    margin: 20px;
}
.partMilieu {
    height: 200px;
    width: 440px;
    background-color: purple;
    margin: 20px;
}

/* FIN PARTIE GRILLE */
/* DEBUT PARTIE PETITE GRILLE  */
.grilleTech {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.threePart {
    display: flex;
    width: 100%;
}
.HautUn {
    height: 400px;
    width: 60%;
    background-color: antiquewhite;
    margin: 20px;
}
.HautDeux {
    height: 400px;
    width: 40%;
    background-color: antiquewhite;
    margin: 20px;
}
.MilieuUn {
    height: 200px;
    width: 30%;
    background-color: antiquewhite;
    margin: 20px;
}
#BasSeul{
    height: 200px;
    width: auto;
    background-color: antiquewhite;
    margin: 20px;
}